/* Root Variables and General Element Styles */
:root {
    --base-txt: #555555;
    --emphatic-txt: black;

}
* {
    box-sizing: border-box;
}
body, html, form, p {
    margin: 0;
    padding: 0;
    color: var(--base-txt)
}
h1 {
    margin: 0 auto;
    border: collapse;
    padding: 0;
    color: var(--emphatic-txt);
    opacity: 80%;
    text-align: center;
}
label {
    margin-bottom: 0;
}
a:hover {
    text-decoration: none;
    color: var(--base-txt);
}
.nav-link:hover{
    background-color: #AAAAAA;
}
/* Nav Bar Styling */
nav {
    margin: -5px 0;
    padding: 0;
    background: #CCCCCC;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 3;
    align-items: center;
    justify-content: space-between;
}

nav a {
    color: var(--base-txt);
    padding: 1.5em;
    margin: -1em;
}
.navbar-brand {
    margin: 0 0 10px 0;
}
.navbar-text {
    display: inline-block;
    margin: -.25em;
    padding: 1em;

}
.left {
    justify-content: flex-start;
}
.jumbotron {
    margin: 0;
    padding-top: 6em;
    padding-bottom: 2.5em;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    background-image: url("/img/pizza.png");
}
.heading-bar{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
    opacity: 50%;

}

/* Form and Container Styles */
.container{
    margin: 1em;
    width: 100%;
}
.badge {
    margin: 3px;
}
.card{
    margin: 1em;

}
.blue-swatch{
    margin: 0;
    padding: 1em;
    background-color: blue;
    color: white;
}
.grey-swatch {
    margin: 0;
    padding: 1em;
    background-color: #EEEEEE;
    color: black;
}
.inner-card{
    margin: 0;
}
.inner-card>.card-body{
    margin: 0;
    padding: .8em;
}
.radio-card{
    margin: 0;
}
.right-button{
    justify-self: right;
}
.btn-group{
   justify-items: right;
}
.build-form{
    margin-top: 1em;
    margin-left: 1em;
    color: var(--emphatic-txt)
}
.select-form{
    padding: .5em;
}