:root{
    --bg-info: lightblue;
    --txt-info: blue;
    --bg-success: lightgreen;
    --txt-success: green;
    --bg-warning: lightgoldenrodyellow;
    --txt-warning: orange;
    --bg-error: lightcoral;
    --txt-error: red;
}

body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}
.message {
    padding: 10px;
    border: 1px solid bisque;
    border-radius: 5px;
    margin: 5px;
}
.message-info {
    color: var(--txt-info);
    background-color: var(--bg-info);
}
.message-success {
    color: var(--txt-success);
    background-color: var(--bg-success);
}
.message-warning {
    color: var(--txt-warning);
    background-color: var(--bg-warning);
}
.message-error {
    color: var(--txt-error);
    background-color: var(--bg-error);
}