i {
    margin: 4px;
}
hr{
    border: 3px solid #555555;
    border-radius: 2px;
}
#big-line {
    border: 6px solid #820000;
    border-radius: 3px;
}
@media screen and (min-width:992px){
#projects-awards h4{
    margin-bottom: 1.5em;
}
#awards-line{
    margin: 2em auto;
}
}