
* {
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: wheat;
}
header{
    padding: .25em 1em;
    height: 32px;
    display: flex;
    justify-content: space-between;
    background-color: #0D6EFD;
}
h2{
    padding: .25em;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: .25em auto;
}
#five-day{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: .25em;
    padding: .25em;
}
.day{
    display: flex;
    flex-direction: column;
    width: 18%;
    background-color: #E6ECF0;
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 18px;
}
.date{
    background-color: #BBBBBB;
    font-size: 22px;
}
.weather-icon{
    margin: 0 auto;
    width: 64px;
    height: 64px;
}
#title {
    font-size: 24px;
}
#forecast-location, label, input, button{
    display: inline;
    font-size: 16px;
}
#map{
    margin: .25em auto;
    display: block;
    width: 720px;
    height: 480px;
}
#marker-loc{
    text-align: center;
}